# 声明这是主类
root = true

# 配置所有文件格式
[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = off
tab_width = 4

# 配置yml文件格式
[*.yml]
indent_style = tab
indent_size = 2
tab_width = 2


