# gradle缓存文件不提交
.gradle

# idea缓存文件不提交
.idea

# 所有的build文件夹都不提交
**/build
**/out

# 日志文件夹不提交
logs

# 配置文件不能提交
gradle.properties

# hexo博客
docs/.DS_Store
docs/Thumbs.db
docs/db.json
docs/*.log
docs/node_modules/
docs/public/
docs/deploy*/
docs/.deploy_git
