##
# git file
# [https://help.github.com/articles/dealing-with-line-endings/]
# [https://github.com/Danimoth/gitattributes]
##
*               text=auto
*.bat           text eol=crlf
*.bash          text eol=lf
*.sh            text eol=lf
*.java          text diff=java

##
# binary file
##
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.zip           binary
*.gpg           binary